<footer>
   <div class="container">
        <nav>
           <%= link_to "Ruby on Rails Tutorial",'#',id:"logo"%>
          <ul id="header-footer">
            <li><%= link_to "About", '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><%= link_to "News", '#' %></li>
          </ul>
        </nav>
      </div>
</footer>